[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://www.myrsolution.com/site2015/wp-content/themes/myr/img/close-button.png
Type=Link
URL=http://www.myrsolution.com/site2015/wp-content/themes/myr/img/close-button.png
Icon=text-html
