[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Image associée
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwicy8eO1-DgAhUF5uAKHVOMCvUQjRx6BAgBEAU&url=http%3A%2F%2Fwww.myrsolution.com%2F&psig=AOvVaw2Ycx1RrDez1Pw-Uwe4iDbk&ust=1551520639824519
Icon=text-html
